@charset "utf-8";

/* !reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td, col {
	background: transparent no-repeat 0 0;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: none;
	padding: 0;
	vertical-align: baseline;
	}
ol, ul { list-style: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {	border-collapse: collapse; border-spacing: 0; width: 100%; }
input, textarea { margin: 0; padding: 0; }
em { font-style: italic; }
object { display: block; }

/* !Main Styles */

body {
	color: #797c79;
	background: #2f2f2f url(/images/body_bg_04.gif) repeat-x  0 300px;
	font-family: Helvetica, Verdana, "sans-serif";
	font-size: 12px;
	margin: 0;
	padding: 0;
	position: relative;
}

p {
	margin-top: 10px;
	line-height: 17px;
}

h4 {
	color: #b1c6db;
	font-size: 24px;
	margin-bottom: 10px;
}

dt {
	border-bottom: 1px dotted #ccc;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

h4.contact {
	color: #111;
	float: left;
	font-size: 30px;

}

h4.contact span {
	color: #444;
	display: block;
	font-weight: normal;
	font-size: 14px;
}

#wrapper {
	background: transparent url(/images/dropshaddow_02.png) center 126px no-repeat;
	width: 1000px;
	position: absolute;
	top: 0;
	margin-left: -515px;
	left: 50%;
	padding: 0 15px;
}

#panel {
	background: #12202c url(/images/panel.gif) bottom repeat-x;
	border-bottom: 2px solid #b6b6b6;
	overflow: hidden;
	height: 482px;
}

.logo {
	background: url(/images/logo.png) no-repeat;
	text-indent: -999px;
	width: 270px;
	height: 138px;
	float: left;
	margin-left: -82px;
	margin-bottom: -10px;
}

#main_container {
	clear: both;
}

#gallery {
	position: relative;
	height: 437px;
	overflow: hidden;
}

#gallery ul.project_images li {
	float: left;
}

#gallery.secondary {
	height: 300px;
	overflow: hidden;
}

/* !Alert */

#alert {
	color: #fff;
	position: fixed;
	top: 0;
	background: #fff;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	display: none;
}

#alert.success {
	background: green;
}

#alert.fail {
	background: red;
}

/* !Columns */

.column {
	color: #ccc;
	float: left;
	padding: 1% 3%;
}

.columns {
	background: transparent url(/images/transparent_light.png);
	border-bottom: 1px solid #1d1d1d;
	border-top: 1px solid #1d1d1d;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	margin: 0 10px;
}

.columns .column:first-child {
	border-color: #fff;
}

.two_thirds {
	width: 60%;
}

.one_third {
	width: 27%;
}

.column.resume {
	background: transparent url(/images/footer_arrows.png) 1% 50% no-repeat;
}

.column.resume h4 {
	float: left;
}

.column.resume dl {
	clear: both;
}

.column.resume .button.pdf {
	float: right;
	
}

/* !Callouts */

.callouts {
	border-bottom: 1px solid #999;
	background: #eeeeee url(/images/callout_bg_02.gif) bottom repeat-x;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.callouts li {
	min-height: 125px;
	float: left;
	padding: 1% 3%;
}

.callouts li ul.normal li {
	border: none;
	float: none;
	padding: 0;
	width: auto;
	min-height: 0;
	margin-bottom: 8px;
}
.callouts li ul.normal li:first-child {
	background: none;
}

.callouts.about li:first-child, .callouts.main li:first-child, .callouts.work li:first-child {
	border: none;
}

/* !Callouts Main */

.callouts.main li p {
	font-weight: bold;
	line-height: 18px;
}

.callouts.main li h3, .callouts.about li h3, .callouts.contact li h3 {
	text-indent: -999px;
	overflow: hidden;
	height: 45px;
	margin-left: -10px;
}

.callouts.main li.who h3, .callouts.about li.who h3 {
	background: transparent url(/images/who.png) no-repeat;
}

	.callouts.main li.why h3, .callouts.about li.why h3 {
		background: transparent url(/images/why.png) no-repeat;
	}
	
	.callouts.main li.how h3, .callouts.about li.how h3 {
		background: transparent url(/images/how.png) no-repeat;
	}

.callouts.main li, .callouts.about li {
	background: transparent url(/images/callout_arrow.png) left 20px no-repeat;
	border-left: 1px solid #dadada;
	width: 27%;
	float: left;
	padding: 12px 3%;
	padding-bottom: 24px;
}

/* !Callouts Work */

.callouts.work li {
	border-left: 1px solid #dadada;
	width: 18%;
	float: left;
	padding: 12px 3%;
	padding-bottom: 24px;
}

.callouts.work li h3 {
	font-size: 20px;
	margin-bottom: 10px;
}

.callouts.work li:first-child {
	background: transparent url(/images/callout_arrow.png) left 8px no-repeat;
}

.callouts.work li:first-child strong {
	font-size: 20px;
}

.callouts.work li:first-child h3 {
	color: #b7b7b7;
	font-size: 30px;
	margin-top: 10px;
}

/* !Callouts Contact */

.callouts.contact li:first-child {
	background: transparent url(/images/callout_arrow.png) left 20px no-repeat;
}

.callouts.contact li.contact h3 {
	background: transparent url(/images/contact.png) no-repeat;
}

.callouts.contact li {
	border-left: 1px solid #dadada;
}

/* !Alerts */

.success {
	background: #cbffa7;
}

/* !Button */

.button {
	color: #333;
	background: url(/images/button_bg_03.png);
	border: 1px solid #ccc;
	border-bottom-color: #999;
	border-right-color: #999;
	border-bottom-width: 2px;
	padding: 4px 8px;
	text-decoration: none;
	cursor: pointer;
	display: block;
	-moz-border-radius: 15px;
	-webkit-border-radius: 10px;
}

.button:hover {
	border: 1px solid #999;
}

.button:active {
	background: url(/images/button_active.gif);
}

/* !Button Contact */

.button.twitter {
	background: url(/images/twitter.png) 4px center no-repeat;
}

.button.facebook {
	background: url(/images/facebook.png) 4px center no-repeat;
}

.button.email {
	background: url(/images/email.png) 4px center no-repeat;
}

/* !Navigation */

.nav.main  {
	width: 650px;
	float: right;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 15px;

}

.nav.main li {
	background: transparent url(/images/nav_divider.png) top right no-repeat;
	font-size: 16px;
	width: 24%;
}

.nav.main li.active {
	background: #fff url(/images/nav_active.gif) bottom repeat-x;
	border-bottom: 1px solid #c4c4c4;
	border-left: 1px solid #fff;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.nav.main li.active a {
	color: #1c2e3d;
	font-weight: bold;
}

.nav.main li a {
	display: block;
	color: #fff;
	padding: 4%;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 3px #333;
}

.nav li {
	float: left;
}

/* !Footer Navigation */

.nav.footer {
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.nav.footer li {
	float: left;
	padding: 10px;
}

/* !Gallery Navigation */

.nav.gallery {
	padding: 5px;
}

.nav.gallery li a, #thumbs span a {
	display: block;
	padding: 16px;
}

.nav.gallery li.left {
	float: left;
}

.nav.gallery li.right {
	float: right;
}

.nav.gallery li.left a, #thumbs span.left a {
	background: transparent url(/images/controls_left.png) center center no-repeat;
}

.nav.gallery li.right a, #thumbs span.right a {
	background: transparent url(/images/controls_right.png) center center no-repeat;
}

.nav.gallery li.launch_btn a {
	background: transparent url(/images/launch_icon.png) no-repeat;
	color: #fff;
	padding: 6px;
	padding-left: 38px;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

/* !Thumbs Gallery Nav */

#thumbs {
	overflow: hidden;
}

#thumbs span.right, #thumbs span.left {
	display: none;
	background: #333333 url(/images/button_bg_04.png) repeat-x center bottom;
	width: 75px;
	height: 50px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-indent: -9999px;
	margin-top: 20px;
	position: absolute;
	z-index: 1;
}

#thumbs span.left {
	left: 0;
}

#thumbs span.left a {
	background-position: 30% 50%;
}

#thumbs span.right {
	right: 0;
}

#thumbs span.right a {
	background-position: 70% 50%;
}

/* !Contact Navigation */

.nav.contact {
	float: right;
}

.nav.contact li {
	background: transparent url(/images/button_bg_04.png) repeat-x;
	margin: 10px 10px 15px 0;
	-moz-border-radius: 25px;
	-webkit-border-radius: 20px;
	
}

.nav.contact li .button {
	padding: 13px 8px 12px 42px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 20px;
	color: #000;
	text-align: left;
	border-color: #111;
}

/* !GalleryControls */

.controls_wrapper {
	background: transparent url(/images/dropshaddow_top.png) center bottom no-repeat;
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 8px;
}

.gallery_controls.main {
	background: transparent url(/images/transparent_dark.png);
	width: 33%;
	margin-right: 9px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	position: absolute;
	right: 0;
	bottom: -100px;
}

.gallery_controls.main h2, .gallery_controls.main p {
	background: url(/images/transparent_dark.png);
	color: #ccc;
	padding: 15px;
}

.gallery_controls.main h2 {
	background: transparent url(/images/paper_icon.png)10px 8px no-repeat;
	color: #B1C6DB;
	font-size: 16px;
	padding-left: 40px;
	padding-bottom: 0;
}

/* !clearfix */

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* IE6 */ 
* html .clearfix {
	height: 1%;
}/* IE7 */
*:first-child+html .clearfix {
	min-height: 1px;
}

/* !Thumbs */

#thumbs {
	background: transparent url(/images/transparent_light.png);
	border-bottom: 2px solid #333;
	clear: both;
	margin: 0 10px;
	padding-top: 10px;
}

#thumbs a:hover img {
	opacity: 1;
}

#thumbs ul li {
	background: #333 url(/images/button_bg_04.png) repeat-x center bottom;
	border-top: 1px solid #444;
	border-bottom: 1px solid #111;
	border-right: 1px solid #333;
	float: left;
	margin-left: 15px;
	margin-bottom: 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#thumbs ul li.active {
	background: url(/images/callout_bg_02.gif) bottom repeat-x;
	border: 1px solid #fff;
}
#thumbs ul li.active img {
	background: url(/images/thumb_arrow_right.png) 0 12px no-repeat;
	opacity: 1;
}
#thumbs ul li img {
	padding: 10px;
	width: 157px;
	height: 75px;
	opacity: .4;
	vertical-align: bottom;
}

/* !Forms */

label {
	border-top: 1px dotted #ccc;
	display: block;
	float: left;
	clear: right;
	padding: 5px 0;
}

fieldset {
	border-top: 1px dotted #ccc;
	padding-top: 5px;
}

legend {
	font-weight: bold;
	font-size: 18px;
	padding-right: 10px;
}

input[type="text"], input[type="file"], textarea, select {
	background: transparent url(/images/input_bg.png) 0 -20px repeat-x;
	border: 1px solid #ccc;
	display: block;
	margin-bottom: 10px;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
}

input[type="textarea"] {
	
}

button {
	clear: both;
	float: right;
}

/* !Contact Forms */

.contact label {
	width: 20%;
}

.contact input[type="text"], .contact textarea {
	background-color: #fff;
	width: 75%;
}

.contact button {
	float: right;
}

/* !Image Forms */

form#images {
	color: #555;
}

/* !Breadcrumbs Wrapper */

#breadcrumbs_wrapper {
	background: #fff;
	height: 15px;
}

/* !Admin */

#admin_container .columns {
	background: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border: none;
	margin: 0;
}

#admin_container {
	background: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#admin_container h2 {
	color: #555;
	font-size: 28px;
	margin-bottom: 5px;
}

#admin_container legend {
	font-weight: normal;
}

#login, #projects {
	color: #777;
	width: 100%;
}

#admin_container input[type="text"], #admin_container textarea {
	width: 60%;
}

#active_projects h3, #inactive_projects h3, #admin_container .edit h3 {
	border-bottom: 1px dotted #ccc;
	color: #555;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-bottom: 5px;
}

#active_projects li, #inactive_projects li {
	color: #333;
	background: #ccc;
	border: 1px solid #999;
	margin-bottom: 3px;
	padding: 5px;
}

#active_projects li a, #inactive_projects li a {
	border-left: 1px solid #777; 
	color: #355b89;
	float: right;
	text-decoration: none;
	padding-left: 35px;
	margin-left: 20px;
}

#active_projects li a:hover, #inactive_projects li a:hover {
	text-decoration: underline;
}

#active_projects li a.edit, #inactive_projects li a.edit {
	background: transparent url(/images/wrench_orange.png) 25% 50% no-repeat;
}

#active_projects li a.delete, #inactive_projects li a.delete {
	background: transparent url(/images/cross.png) 25% 50% no-repeat;
}

#active_projects li span, #inactive_projects li span {
	float: left;
}

.column.edit .images img {
	width: 183px;
	height: 100px;
	overflow: hidden;
}
.column.edit .images .image {
	background: #e0e0e0;
	color: #555;
	width: 183px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

.column.edit .images .image a {
	float: right;
}

/* !Work */

ul.project_views li img {
	width: 40px;
	height: 40px;
	vertical-align: bottom;
}

.callouts.work li ul.project_views li {
	border: none;
	padding: 0;
	width: auto;
	margin-right: 5px;
	min-height: 0;
}
.callouts.work li ul.project_views li a {
	border: 1px solid #999;
	padding: 4px;
	display: block;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.callouts.work li ul.project_views li a:hover {
	border-color: #444;
}

.callouts.work li ul.project_views li:first-child {
	background: none;
}

.callouts.work li ul.project_views li.active a {
	border:none;
	background: #333333 url(/images/button_bg_04.png) repeat-x center top;
}